.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  font-family: 'Sunflower', sans-serif;
}

.markdown a {
  color: #444 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
  font-size: 14px;
  font-weight: 600;
}

.markdown a:after {
  content: '';
  width: 100%;
  height: 40%;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0.5;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
  background: #38f9d7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #43e97b, #38f9d7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #43e97b,
    #38f9d7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.markdown a:before {
  content: '';
  width: 0;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  background: #444;
  -webkit-transition: ease all 0.3s;
  -moz-transition: ease all 0.3s;
  -o-transition: ease all 0.3s;
  transition: ease all 0.3s;
}

.markdown a:hover:after {
  width: 10px;
  left: -15px;
}

.markdown a:hover:before {
  width: 100%;
  transition-delay: 0.4s;
}
