/*-----------------------------------------
*  Testimonial
-----------------------------------------*/
.testimonial-col { 
    padding: 60px 30px 30px;
    background: #fff;
    position: relative;
    margin: 50px 10px 20px 10px;
    box-shadow: 0px 1px 27px -3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
  }
  .testimonial-col .img {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: -40px;
    left: 0;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: -1px -4px 16px -3px rgba(0, 0, 0, 0.43);
    right: 0;
    margin: auto;
  }
  
  .testimonial-col h6 {
    color: #151515;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .testimonial-col p {
    margin: 0;
  }
  